.accommodation-card-container {
    width: 350px;
    height: 510px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 7rem;
}

.accommodation-title {
    font-size: 1rem;
    padding: 0.6rem;
    width: 300px;
    text-align: center;
    background-color: white;
    box-shadow: 0.4px 0.4px 9px rgb(0 0 0 / 19%);

    margin-bottom: -30px;
    position: relative;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.accommodation-title:hover {
    overflow: visible;
    white-space: normal;
}

.accommodation-image {
    width: 100%;
    min-height: 490px;
    max-height: 490px;
    object-fit: cover;
}

.accommodation-info-container {
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: white;
    box-shadow: 0.4px 0.4px 9px rgb(0 0 0 / 19%);
    width: 310px;

    align-content: flex-end;
    margin-top: -30px;
    position: relative;
    max-height: 7.6rem;

}

.address-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 0.6rem;
    gap: 0.2rem;
}

.loc-icon {
    height: 1.1rem;
}

.address-info p {
    font-size: 0.9rem;
    max-width: 90%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.accommodation-address {
    color: var(--dark-blue-color);
    font-weight: 600;
}

.price-info {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 0.6rem;
    gap: 0.2rem;
    margin-top: -30px;
}

.dollar-sign {
    height: 1.1rem;
}

.accommodation-price {
    font-weight: 600;
}

.card-buttons {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    max-width: 95%;
    margin-bottom: 1rem;
}

.about-button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: transparent;
    border: 0.1rem solid var(--dark-blue-color);
    color: var(--dark-blue-color);
    font-weight: 600;
    font-size: 1rem;
    padding: 1.3rem;
    padding-inline: 2rem;

    width: 50%;
    height: 2.4rem;
    padding: 1rem;
    text-align: center;
}

.about-button:hover {
    transition: 0.9s ease;
    background-color: #436e8d;
    border-color: #436e8d;
    color: white;
}

.favorite-button {
    background: transparent;
    border: none;
}

.favorited {
    filter: invert(60%) sepia(30%) saturate(800%) hue-rotate(200deg) brightness(90%) contrast(95%);
}

.favorite-button img {
    width: 28px;
    height: 28px;
    filter: invert(0%);
    transition: fill 0.3s ease;
}

.favorite-button img:hover {
    transition: 0.9s ease;
    filter: invert(38%) sepia(100%) saturate(2000%) hue-rotate(330deg) brightness(100%) contrast(100%);
}

.accommodation-title,
.accommodation-price:hover,
.about-button:hover,
.favorite-button img {
    cursor: pointer;
}