.main-container {
    padding: 1.9rem;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-container .title {
    color: var(--dark-blue-color);
    font-size: 2.3rem;
}

.search-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin-bottom: 20px;
}

.search-field {
    flex-grow: 1;
    padding: 10px;
    border: 0.1rem solid var(--dark-blue-color);
    padding: 0.9rem;
    margin-right: 10px;

    text-align: center;
    color: var(--dark-blue-color);
}

input:focus {
    outline-color: var(--background-blue);
  }

.search-button {
    background-color: var(--dark-blue-color);
    color: white;
    font-size: 1rem;
    padding: 0.9rem;
    padding-inline: 2rem;
    border: none;
    font-family: var(--project-font);
    transition: 0.9s ease;
    cursor: pointer;
}

.search-button:hover {
    background-color: #436e8d;
    color: var(--background-blue);
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
