.card {
    width: 250px;
    height: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 6px;
}

.card-texts {
    display: flex;
    flex-direction: column;
    gap: .2rem;
    height: 180px;
}

.accommodation-image {
    width: 250px;
    height: 150px;
    /* margin-bottom: 10px; */
    object-fit: cover;
    border-radius: 6px;
}

.accommodation-info {
    width: 100%;
}

.accommodation-name,
.accommodation-price,
.accommodation-address {
    text-align: left;
}

.accommodation-name {
    margin-bottom: 0px;
    height: 25px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.accommodation-name:hover {
    overflow: visible;
    white-space: normal;
}

.dollar-sign {
    font-weight: 700;
    margin-right: 4px;
}

.accommodation-price {
    margin-bottom: -4px;
}

.about-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 20px;
    padding: 1rem;
    text-align: center;
    border-radius: 4px;
    border-color: rgb(29, 115, 221);
    background-color: rgb(29, 115, 221);
    color: #fff;
}

.about-button:hover {
    background-color: #ccc;
    border-color: #ccc;
    color: black;
}

.card-buttons {
    display: flex;
    align-items: center;
}

.favorite-button {
    background: transparent;
    border: none;
}

.favorite-button img {
    width: 28px;
    height: 28px;
    filter: invert(0%);
    transition: fill 0.3s ease;
}

.favorite-button img:hover {
    filter: invert(38%) sepia(100%) saturate(2000%) hue-rotate(330deg) brightness(100%) contrast(100%);
}

.accommodation-name,
.accommodation-price:hover,
.about-button:hover,
.favorite-button img {
    cursor: pointer;
}