:root {
  --background-blue: #AFD4E2;
  --dark-blue-color: #1E3240;
  --gray-color: #BDBDBD;
  --project-font: font-family: "Mulish", serif;
}

body {
  margin: 0;
  font-family: "Mulish", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
